@import 'tailwindcss';
@import 'tw-animate-css';

body,
html,
main {
  width: 100%;
  height: 100%;
}

@theme {
  --color-primary-*: initial;
  --color-primary: #3c40bf;
  --color-primary-foreground: #ffffff;

  --color-secondary-*: initial;
  --color-secondary: #09bc8a;
  --color-secondary-foreground: #ffffff;

  --color-error: #fe5f55;
  --color-destructive: #fe5f55;

  --color-ring: #ebedf7;
  --color-input: #ebedf7;

  --color-grey-50: #f7f7f7;
  --color-grey-100: #ebedf7;
  --color-grey-200: #d5daef;
  --color-grey-300: #cdd0e1;
  --color-grey-400: #bdc0d0;
  --color-grey-500: #acaeba;
  --color-grey-600: #9699a9;
  --color-grey-700: #818595;
  --color-grey-800: #767a8b;
  --color-grey-900: #60636f;

  --text-base: 1rem;

  --text-h1: 3.75rem;
  --text-h1--font-weight: 600;

  --text-h2: 2.5rem;
  --text-h2--line-height: 3rem;
  --text-h2--font-weight: 600;

  --text-h3: 2rem;
  --text-h3--font-weight: 600;

  --text-h4: 1.5rem;
  --text-h4--font-weight: 600;

  --text-h5: 1rem;
  --text-h5--font-weight: 600;

  --text-h6: 0.75rem;
  --text-h6--font-weight: 600;

  --text-subtitle: 0.75rem;

  --text-body1: 1rem;
  --text-body1--font-weight: 400;

  --text-body2: 0.75rem;
  --text-body2--font-weight: 400;

  --text-button: 1rem;
  --text-button--font-weight: 400;
}
